{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    {% if error %}
    <div class="alert alert-danger text-center">
        {{ error }}
    </div>
    {% endif %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus name="username" placeholder="Login" type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus name="password" placeholder="Password" type="text" required>
        </div>
        <button class="btn-primary" type="submit">Login</button>
    </form>
{% endblock %}